body {
    background-color: rgb(20, 22, 26);
  }
  /* mise en place du style dédié aux articles*/
  /*************************/
  .view {
    padding: 1em;
    color: var(--color-is-white);
  }
  h1 {
    color: var(--color-is-white);
    text-align: center;
  }
  .white {
    color: black;
  }
  .white:hover {
    cursor: pointer;
  }
  .btn_connect {
    color: black;
    background-color: var(--color-is-white);
    padding: 0.75em;
    margin: 1em;
    border-radius: 16px;
  }
  .btn_connect:hover {
    cursor: pointer;
  }
  .btn_create {
    margin: 16px;
    padding: 0.75em;
    border-radius: 16px;
    background: #000000;
    color: var(--color-is-white);
  }
  .btn_create:hover {
    cursor: pointer;
    animation: btnEffect 0.5s forwards;
  }
  .btn_create:active {
    opacity: 0.8;
  }
  .header {
    box-shadow: 0 1px 0 0 var(--color-is-white);
    animation: apparition 1s forwards;
    z-index: 9;
    position: sticky;
    top: 0;
  }
  .scroll_head {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.25);
  } 
  @keyframes apparition {
    0% {
      opacity: 0;
      transform: translateY(-32px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .ul_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 9 0;
  }
  .li_nav {
    list-style-type: none;
  }
  .a_nav {
    text-decoration: none;
    color: var(--color-is-white);
    background-color: #000000;
    padding: 0.75rem;
    border-radius: 10px;
    border: solid var(--color-is-white) 2px;
  }
  .a_nav:hover {
    cursor: pointer;
    animation: btnEffect 0.5s forwards;
  }
  .a_nav:active {
    opacity: 0.8;
  }
  .contain_nav_svg {
    flex: 1 0;
    max-width: 64px;
  }
  .algo_svg {
    max-width: 64px;
    max-height: 64px;
    filter: invert(97%) sepia(3%) saturate(10%) hue-rotate(67deg) brightness(103%)
      contrast(103%);
  }
  .a_admin {
    text-decoration: none;
    padding: 0.5em;
    border-radius: 24px;
    color: var(--color-is-white);
  }
  .a_admin:hover {
    cursor: pointer;
    animation: btnEffect 0.5s forwards;
  }
  .a_admin:active {
    opacity: 0.8;
  }
  .a_article {
    text-decoration: none;
    padding: 0.5em;
    color: var(--color-is-white);
    border: 1px solid var(--color-is-white);
    border-radius: 16px;
  }
  .a_article:hover {
    cursor: pointer;
    animation: btnEffect 0.5s forwards;
  }
  @keyframes btnEffect {
    0% {
      background-color: black;
      color: var(--color-is-white);
    }
    100% {
      background-color: var(--color-is-white);
      color: black;
    }
  }
  .article {
    display: flex;
    flex-direction: column;
  }
  .contain_article {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    opacity: 0;
    margin-top: 40px;
  }
  .contain_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 1px 1px 1px 1px var(--color-is-white);
    border-radius: 16px;
    justify-content: center;
    text-align: center;
    margin: 0 5%;
  }
  .contain_content:hover {
    transform: scale(1.03);
    transition: 0.2s ease-in;
  }
  .contain_scroll_article {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  .contain_scroll_article > h2 {
    text-align: center;
  }
  #contain_arrow {
    width: 40px;
    height: 40px;
  }
  #contain_arrow > img {
    object-fit: contain;
    filter: invert(100%) sepia(21%) saturate(6879%) hue-rotate(175deg) brightness(102%) contrast(96%);
    animation: upDown 3s infinite;
  }
  @keyframes upDown {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-24px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(-16px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .contain_toast {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 80px;
    .end_try {
      max-width: 200px;
    }
  }

  /* burger menu */

  .hamburger {
    display: none;
    cursor: pointer;
  }
  .line {
    display: block;
    width: 24px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: var(--color-is-white);
  }
  @media screen and (max-width: 764px) {
    .a_nav {
      padding: 1rem;
    }
    .hamburger {
        display: block;
        margin-left: 2%;
        z-index: 10;
    }
    .hamburger.burger > .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: var(--color-is-white);
    }
    .hamburger.burger > .line:nth-child(2) {
      opacity: 0;
  }
    .hamburger.burger > .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: var(--color-is-white);
    }
    .ul_nav {
        position: fixed;
        left: -100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
        transition: 0.3s;
        gap: 64px;
    }
    .ul_nav.burger {
        left: 0;
        z-index: 3;
        background-color: rgba(20, 22, 26, 0.9);
        bottom: 0;
        top: -16px;
        height: 100vh;
        justify-content: center;
    }
    .contain_nav_svg {
      display: none;
    }
  }

  /* connexion */

  .section_connect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .form_section {
      display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5em;
    #username,
    #password {
      border-radius: 16px;
    }
      .contain_btn_connect {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }
    }

  }
  #article_content {
    width: 100%;
    height: 400px;
    margin-top: 8px;
  }