:root {
    --neon-effect-title: 0 0 0.3rem #7ed4d4, 0 0 0.15rem #7ed4d4;
    --neon-effect: 0 0 0.1rem #7ed4d4, 0 0 0.05rem #7ed4d4;
    --color-is-white: rgb(209, 231, 250);
    --neon-color: rgba(89, 14, 158, 0.75);
    --yellow: rgba(247, 247, 56, 0.85);
    --box-shadow: 1px 1px 2px 2px;
  }
h1,h2,h3,h4,h5,h6 {
    font-family: 'Geo', sans-serif;
    text-shadow: var(--neon-effect-title);
}
div, p, span, a {
    font-family: 'Zen Maru Gothic', sans-serif;
    color: rgb(255, 255, 255);
}
h1 {
    font-size: 48px;
    font-weight: bold;
}
h2 {
    font-size: 32px;
    font-weight: bold;
}