body {
  background-color: #000000;
}
/* mise en place du style dédié au back*/
/*************************/
.view {
  padding: 1em;
  color: aliceblue;
}
h1 {
  color: aliceblue;
  text-align: center;
}
.white {
  color: black;
}
.white:hover {
  cursor: pointer;
}
.btn_connect {
  color: black;
  background-color: aliceblue;
  padding: 0.75em;
  margin: 1em;
  border-radius: 16px;
}
.btn_connect:hover {
  cursor: pointer;
}
.btn_create {
  margin: 16px;
  padding: 0.75em;
  border-radius: 16px;
  background: #000000;
  color: aliceblue;
}
.btn_create:hover {
  cursor: pointer;
  animation: btnEffect 0.5s forwards;
}
.btn_create:active {
  opacity: 0.8;
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 16px 8px;
  box-shadow: 0 2px 0 0 aliceblue;
  animation: apparition 1s forwards;
}
/*
.scroll_nav {
  z-index: 9999;
    position: sticky;
  top: 0;
} */
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(-32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.ul_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex: 9 0;
}
.li_nav {
  list-style-type: none;
}
.a_nav {
  text-decoration: none;
  color: aliceblue;
  padding: 0.75em;
  border-radius: 10px;
  border: solid aliceblue 2px;
}
.a_nav:hover {
  cursor: pointer;
  animation: btnEffect 0.5s forwards;
}
.a_nav:active {
  opacity: 0.8;
}
.contain_nav_svg {
  flex: 1 0;
}
.algo_svg {
  max-width: 64px;
  max-height: 64px;
  filter: invert(97%) sepia(3%) saturate(10%) hue-rotate(67deg) brightness(103%)
    contrast(103%);
}
.a_admin {
  text-decoration: none;
  padding: 0.5em;
  border: 2px solid aliceblue;
  border-radius: 24px;
  color: aliceblue;
}
.a_admin:hover {
  cursor: pointer;
  animation: btnEffect 0.5s forwards;
}
.a_admin:active {
  opacity: 0.8;
}
.a_article {
  text-decoration: none;
  padding: 0.5em;
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 16px;
}
.a_article:hover {
  cursor: pointer;
  animation: btnEffect 0.5s forwards;
}
@keyframes btnEffect {
  0% {
    background-color: black;
    color: aliceblue;
  }
  100% {
    background-color: aliceblue;
    color: black;
  }
}
.contain_article {
  max-width: 1600px;
}
