/*************************/
/* génération du background */
/*************************/
.background {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000000;
  overflow-x: hidden;
}

.background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 40;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #bf0808;
  top: 54%;
  left: 42%;
  animation-duration: 49s;
  animation-delay: -88s;
  transform-origin: -15vw 1vh;
  box-shadow: -2vmin 0 0.29967936808111273vmin currentColor;
}
.background span:nth-child(1) {
  color: #bf0808;
  top: 23%;
  left: 37%;
  animation-duration: 40s;
  animation-delay: -23s;
  transform-origin: 16vw -1vh;
  box-shadow: -2vmin 0 0.5632492180638402vmin currentColor;
}
.background span:nth-child(2) {
  color: #f07c0f;
  top: 37%;
  left: 81%;
  animation-duration: 50s;
  animation-delay: -77s;
  transform-origin: 0vw -17vh;
  box-shadow: 2vmin 0 1.043965175646191vmin currentColor;
}
.background span:nth-child(3) {
  color: #10eae6;
  top: 66%;
  left: 85%;
  animation-duration: 75s;
  animation-delay: -60s;
  transform-origin: -9vw 4vh;
  box-shadow: 2vmin 0 0.501806451114202vmin currentColor;
}
.background span:nth-child(4) {
  color: #bf0808;
  top: 13%;
  left: 96%;
  animation-duration: 78s;
  animation-delay: -20s;
  transform-origin: 3vw 11vh;
  box-shadow: 2vmin 0 0.7675783317913201vmin currentColor;
}
.background span:nth-child(5) {
  color: #efdc0b;
  top: 100%;
  left: 28%;
  animation-duration: 35s;
  animation-delay: -7s;
  transform-origin: -2vw 16vh;
  box-shadow: 2vmin 0 0.46705133750220473vmin currentColor;
}
.background span:nth-child(6) {
  color: #10eae6;
  top: 91%;
  left: 39%;
  animation-duration: 98s;
  animation-delay: -23s;
  transform-origin: -2vw -24vh;
  box-shadow: 2vmin 0 1.2017299550948974vmin currentColor;
}
.background span:nth-child(7) {
  color: #10eae6;
  top: 85%;
  left: 63%;
  animation-duration: 70s;
  animation-delay: -33s;
  transform-origin: -19vw 17vh;
  box-shadow: 2vmin 0 0.840307280030405vmin currentColor;
}
.background span:nth-child(8) {
  color: #f07c0f;
  top: 34%;
  left: 70%;
  animation-duration: 28s;
  animation-delay: -80s;
  transform-origin: 9vw -4vh;
  box-shadow: -2vmin 0 0.5935359697364551vmin currentColor;
}
.background span:nth-child(9) {
  color: #bf0808;
  top: 2%;
  left: 72%;
  animation-duration: 90s;
  animation-delay: -83s;
  transform-origin: -23vw -20vh;
  box-shadow: 2vmin 0 0.8207657990928661vmin currentColor;
}
.background span:nth-child(10) {
  color: #10eae6;
  top: 86%;
  left: 42%;
  animation-duration: 100s;
  animation-delay: -59s;
  transform-origin: -2vw -8vh;
  box-shadow: -2vmin 0 0.5135710698251288vmin currentColor;
}
.background span:nth-child(11) {
  color: #f07c0f;
  top: 69%;
  left: 17%;
  animation-duration: 73s;
  animation-delay: -55s;
  transform-origin: 8vw -6vh;
  box-shadow: -2vmin 0 0.8370820801267733vmin currentColor;
}
.background span:nth-child(12) {
  color: #10eae6;
  top: 73%;
  left: 54%;
  animation-duration: 50s;
  animation-delay: -19s;
  transform-origin: -18vw 15vh;
  box-shadow: 2vmin 0 0.7899406418873496vmin currentColor;
}
.background span:nth-child(13) {
  color: #bf0808;
  top: 100%;
  left: 40%;
  animation-duration: 66s;
  animation-delay: -70s;
  transform-origin: -3vw -17vh;
  box-shadow: 2vmin 0 0.6112436152237932vmin currentColor;
}
.background span:nth-child(14) {
  color: #efdc0b;
  top: 93%;
  left: 74%;
  animation-duration: 82s;
  animation-delay: -41s;
  transform-origin: -17vw -13vh;
  box-shadow: 2vmin 0 0.7064363281394659vmin currentColor;
}
.background span:nth-child(15) {
  color: #f07c0f;
  top: 14%;
  left: 34%;
  animation-duration: 54s;
  animation-delay: -8s;
  transform-origin: 10vw -5vh;
  box-shadow: -2vmin 0 0.6670050194459252vmin currentColor;
}
.background span:nth-child(16) {
  color: #f07c0f;
  top: 97%;
  left: 5%;
  animation-duration: 25s;
  animation-delay: -13s;
  transform-origin: -23vw -12vh;
  box-shadow: -2vmin 0 0.4826809701442625vmin currentColor;
}
.background span:nth-child(17) {
  color: #bf0808;
  top: 7%;
  left: 70%;
  animation-duration: 41s;
  animation-delay: -78s;
  transform-origin: -5vw 25vh;
  box-shadow: -2vmin 0 0.8503155724083773vmin currentColor;
}
.background span:nth-child(18) {
  color: #f07c0f;
  top: 71%;
  left: 39%;
  animation-duration: 14s;
  animation-delay: -54s;
  transform-origin: 16vw -12vh;
  box-shadow: 2vmin 0 0.8477336278947685vmin currentColor;
}
.background span:nth-child(19) {
  color: #bf0808;
  top: 71%;
  left: 43%;
  animation-duration: 47s;
  animation-delay: -74s;
  transform-origin: 16vw 22vh;
  box-shadow: -2vmin 0 1.1801674126792956vmin currentColor;
}
.background span:nth-child(20) {
  color: #bf0808;
  top: 48%;
  left: 92%;
  animation-duration: 51s;
  animation-delay: -41s;
  transform-origin: 13vw 13vh;
  box-shadow: -2vmin 0 0.44431296734926207vmin currentColor;
}
.background span:nth-child(21) {
  color: #efdc0b;
  top: 78%;
  left: 64%;
  animation-duration: 74s;
  animation-delay: -24s;
  transform-origin: 22vw -18vh;
  box-shadow: 2vmin 0 0.9335818767681556vmin currentColor;
}
.background span:nth-child(22) {
  color: #10eae6;
  top: 14%;
  left: 41%;
  animation-duration: 66s;
  animation-delay: -53s;
  transform-origin: 11vw -22vh;
  box-shadow: -2vmin 0 1.0956927995660162vmin currentColor;
}
.background span:nth-child(23) {
  color: #f07c0f;
  top: 96%;
  left: 88%;
  animation-duration: 55s;
  animation-delay: -56s;
  transform-origin: -24vw 12vh;
  box-shadow: 2vmin 0 0.8661614837022591vmin currentColor;
}
.background span:nth-child(24) {
  color: #efdc0b;
  top: 19%;
  left: 81%;
  animation-duration: 42s;
  animation-delay: -19s;
  transform-origin: 1vw 3vh;
  box-shadow: -2vmin 0 0.824067426539048vmin currentColor;
}
.background span:nth-child(25) {
  color: #f07c0f;
  top: 91%;
  left: 39%;
  animation-duration: 46s;
  animation-delay: -31s;
  transform-origin: 20vw 5vh;
  box-shadow: 2vmin 0 0.6286329118159328vmin currentColor;
}
.background span:nth-child(26) {
  color: #efdc0b;
  top: 72%;
  left: 19%;
  animation-duration: 25s;
  animation-delay: -87s;
  transform-origin: 9vw -17vh;
  box-shadow: 2vmin 0 1.1713531483420285vmin currentColor;
}
.background span:nth-child(27) {
  color: #efdc0b;
  top: 40%;
  left: 33%;
  animation-duration: 51s;
  animation-delay: -36s;
  transform-origin: 2vw 20vh;
  box-shadow: -2vmin 0 0.5309384039614065vmin currentColor;
}
.background span:nth-child(28) {
  color: #f07c0f;
  top: 99%;
  left: 32%;
  animation-duration: 19s;
  animation-delay: -95s;
  transform-origin: -5vw 0vh;
  box-shadow: 2vmin 0 0.39766183455689696vmin currentColor;
}
.background span:nth-child(29) {
  color: #10eae6;
  top: 27%;
  left: 85%;
  animation-duration: 56s;
  animation-delay: -87s;
  transform-origin: -7vw -12vh;
  box-shadow: -2vmin 0 0.2822444890470017vmin currentColor;
}
.background span:nth-child(30) {
  color: #10eae6;
  top: 16%;
  left: 36%;
  animation-duration: 95s;
  animation-delay: -67s;
  transform-origin: 6vw 7vh;
  box-shadow: 2vmin 0 0.8404297427000864vmin currentColor;
}
.background span:nth-child(31) {
  color: #10eae6;
  top: 94%;
  left: 50%;
  animation-duration: 53s;
  animation-delay: -43s;
  transform-origin: 14vw 2vh;
  box-shadow: 2vmin 0 0.6089055664725118vmin currentColor;
}
.background span:nth-child(32) {
  color: #10eae6;
  top: 30%;
  left: 62%;
  animation-duration: 90s;
  animation-delay: -35s;
  transform-origin: 14vw -16vh;
  box-shadow: -2vmin 0 0.5151513442184432vmin currentColor;
}
.background span:nth-child(33) {
  color: #bf0808;
  top: 60%;
  left: 54%;
  animation-duration: 58s;
  animation-delay: -1s;
  transform-origin: -14vw -9vh;
  box-shadow: -2vmin 0 0.668918733449166vmin currentColor;
}
.background span:nth-child(34) {
  color: #efdc0b;
  top: 35%;
  left: 33%;
  animation-duration: 105s;
  animation-delay: -69s;
  transform-origin: 14vw 9vh;
  box-shadow: -2vmin 0 0.8357063518518195vmin currentColor;
}
.background span:nth-child(35) {
  color: #bf0808;
  top: 89%;
  left: 32%;
  animation-duration: 83s;
  animation-delay: -35s;
  transform-origin: -19vw 12vh;
  box-shadow: -2vmin 0 0.5097330669335614vmin currentColor;
}
.background span:nth-child(36) {
  color: #efdc0b;
  top: 80%;
  left: 29%;
  animation-duration: 55s;
  animation-delay: -97s;
  transform-origin: 8vw 25vh;
  box-shadow: 2vmin 0 1.0883728877288295vmin currentColor;
}
.background span:nth-child(37) {
  color: #10eae6;
  top: 67%;
  left: 6%;
  animation-duration: 83s;
  animation-delay: -90s;
  transform-origin: -6vw 15vh;
  box-shadow: 2vmin 0 0.3216628453274686vmin currentColor;
}
.background span:nth-child(38) {
  color: #bf0808;
  top: 58%;
  left: 86%;
  animation-duration: 96s;
  animation-delay: -27s;
  transform-origin: -6vw 23vh;
  box-shadow: 2vmin 0 1.008307270638356vmin currentColor;
}
.background span:nth-child(39) {
  color: #f07c0f;
  top: 64%;
  left: 82%;
  animation-duration: 82s;
  animation-delay: -33s;
  transform-origin: 23vw -15vh;
  box-shadow: -2vmin 0 0.39134776268527616vmin currentColor;
}
.background span:nth-child(40) {
  color: #f07c0f;
  top: 90%;
  left: 84%;
  animation-duration: 86s;
  animation-delay: -59s;
  transform-origin: 6vw 2vh;
  box-shadow: 2vmin 0 0.6780671424759588vmin currentColor;
}
.background span:nth-child(41) {
  color: #10eae6;
  top: 78%;
  left: 34%;
  animation-duration: 27s;
  animation-delay: -18s;
  transform-origin: -21vw 8vh;
  box-shadow: -2vmin 0 0.5391998289036068vmin currentColor;
}
.background span:nth-child(42) {
  color: #f07c0f;
  top: 57%;
  left: 46%;
  animation-duration: 47s;
  animation-delay: -7s;
  transform-origin: 9vw 15vh;
  box-shadow: 2vmin 0 0.9906329930579116vmin currentColor;
}
.background span:nth-child(43) {
  color: #bf0808;
  top: 5%;
  left: 64%;
  animation-duration: 33s;
  animation-delay: -33s;
  transform-origin: 19vw -13vh;
  box-shadow: 2vmin 0 1.0990388675353158vmin currentColor;
}
.background span:nth-child(44) {
  color: #f07c0f;
  top: 43%;
  left: 6%;
  animation-duration: 66s;
  animation-delay: -52s;
  transform-origin: 17vw -5vh;
  box-shadow: -2vmin 0 1.1210815204153224vmin currentColor;
}
.background span:nth-child(45) {
  color: #f07c0f;
  top: 75%;
  left: 79%;
  animation-duration: 82s;
  animation-delay: -9s;
  transform-origin: -8vw -21vh;
  box-shadow: -2vmin 0 0.32117346789140644vmin currentColor;
}
.background span:nth-child(46) {
  color: #efdc0b;
  top: 31%;
  left: 18%;
  animation-duration: 81s;
  animation-delay: -13s;
  transform-origin: 22vw -8vh;
  box-shadow: -2vmin 0 0.357302383373558vmin currentColor;
}
.background span:nth-child(47) {
  color: #10eae6;
  top: 40%;
  left: 63%;
  animation-duration: 88s;
  animation-delay: -54s;
  transform-origin: 13vw -17vh;
  box-shadow: -2vmin 0 1.047395150504869vmin currentColor;
}
.background span:nth-child(48) {
  color: #efdc0b;
  top: 22%;
  left: 81%;
  animation-duration: 6s;
  animation-delay: -23s;
  transform-origin: 8vw 8vh;
  box-shadow: -2vmin 0 0.38551606249147863vmin currentColor;
}
.background span:nth-child(49) {
  color: #bf0808;
  top: 99%;
  left: 27%;
  animation-duration: 71s;
  animation-delay: -31s;
  transform-origin: 3vw -9vh;
  box-shadow: 2vmin 0 0.8607247860677936vmin currentColor;
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
/*************************/
/* fin du background */
/* mise en place du style dédié au back*/
/*************************/
.view {
  padding: 1em;
  color: aliceblue;
}
h1 {
  color: aliceblue;
  text-align: center;
}
.white {
  color: black;
}
.white:hover {
  cursor: pointer;
}
.btn_connect {
  color: black;
  background-color: aliceblue;
  padding: 0.75em;
  margin: 1em;
  border-radius: 16px;
}
.btn_connect:hover {
  cursor: pointer;
}
.btn_create {
  margin: 16px;
  padding: 0.75em;
  border-radius: 16px;
  background: #000000;
  color: aliceblue;
}
.btn_create:hover {
  cursor: pointer;
  animation: btnEffect 0.5s forwards;
}
.btn_create:active {
  opacity: 0.8;
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 16px 8px;
  box-shadow: 0 2px 0 0 aliceblue;
  animation: apparition 1s forwards;
}
/*
.scroll_nav {
  z-index: 9999;
    position: sticky;
  top: 0;
} */
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(-32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.ul_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex: 9 0;
}
.li_nav {
  list-style-type: none;
}
.a_nav {
  text-decoration: none;
  color: aliceblue;
  padding: 0.75em;
  border-radius: 10px;
  border: solid aliceblue 2px;
}
.a_nav:hover {
  cursor: pointer;
  animation: btnEffect 0.5s forwards;
}
.a_nav:active {
  opacity: 0.8;
}
.contain_nav_svg {
  flex: 1 0;
}
.algo_svg {
  max-width: 64px;
  max-height: 64px;
  filter: invert(97%) sepia(3%) saturate(10%) hue-rotate(67deg) brightness(103%)
    contrast(103%);
}
.a_admin {
  text-decoration: none;
  padding: 0.5em;
  border: 2px solid aliceblue;
  border-radius: 24px;
  color: aliceblue;
}
.a_admin:hover {
  cursor: pointer;
  animation: btnEffect 0.5s forwards;
}
.a_admin:active {
  opacity: 0.8;
}
.a_article {
  text-decoration: none;
  padding: 0.5em;
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 16px;
}
.a_article:hover {
  cursor: pointer;
  animation: btnEffect 0.5s forwards;
}
@keyframes btnEffect {
  0% {
    background-color: black;
    color: aliceblue;
  }
  100% {
    background-color: aliceblue;
    color: black;
  }
}
.contain_article {
  max-width: 1600px;
}
