h1,h2,h3,h4,h5,h6 {
    font-family: 'Geo', sans-serif;
    text-shadow: var(--neon-effect-title);
}
div, p, span, a {
    font-family: 'Zen Maru Gothic', sans-serif;
    color: rgb(255, 255, 255);
}
h1 {
    font-size: 32px;
    font-weight: bold;
}