:root {
  --neon-effect-title: 0 0 0.4rem #7ed4d4, 0 0 0.2rem #7ed4d4;
  --neon-effect: 0 0 0.1rem #7ed4d4, 0 0 0.05rem #7ed4d4;
  --color-is-white: rgb(211, 232, 250);
  --neon-color: rgba(91, 29, 150);
}
.first_section {
  background: url(../image/1614950521-89e84c54-a6cf-4528-a9b8-5f2399fa7dbc.jpeg)
    center;
  background-repeat: no-repeat;
  height: 720px;
  width: 100%;
 // position: relative;
}
.second_section {
  .first_title {
    color: var(--color-is-white);
    text-shadow: var(--neon-effect-title);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 32px;
    border-radius: 16px;
    align-items: center;
    box-shadow: 0 0 30px 0 var(--neon-color), 0 3px 4px -2px var(--neon-color);
    padding: 1rem;
    text-align: center;
    .contain_svg {
      .arrow_svg {
        width: 40px;
        height: 40px;
      }
      .arrow_down {
        filter: invert(81%) sepia(12%) saturate(1025%) hue-rotate(131deg)
          brightness(94%) contrast(93%);
      }
    }
  }
  .contain_para {
    margin-left: 10%;
    margin-right: 10%;
    display: none;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px var(--neon-color);
    border-radius: 24px;
    .first_para {
      color: var(--color-is-white);
      padding: 1rem;
    }
    .contain_adaptive_img {
      text-align: center;
      .scalable {
        max-width: 300px;
        max-height: 300px;
      }
    }
  }
  .contain_para:hover {
    transform: scale(1.25);
    transition: 0.2s ease-in;
    box-shadow: 4px 4px 4px 4px var(--neon-color);
  }
  .second_title {
      text-align: center;
      text-shadow: var(--neon-effect-title);
      color: var(--color-is-white);
      margin-top: 24px;
  }
  .contain_liste {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    ul {
      li {
        text-align: center;
        list-style-type: none;
        font-family: Montserrat, sans-serif;
        border-top: 2px dashed whitesmoke;
        padding: 2rem 1rem;
        font-size: 18px;
        color: whitesmoke;
        text-shadow: var(--neon-effect);
      }
      .li_right {
        border-right: 2px dashed whitesmoke;
        border-bottom-right-radius: 2rem;
        border-top-right-radius: 2rem;
        margin-left: 1.8em;
      }
      .li_left {
        border-left: 2px dashed whitesmoke;
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
        margin-right: 1.8em;
      }
      .li_end {
        border-bottom: 2px dashed whitesmoke;
      }
      li:before {
        content: "▶";
        color: yellow;
      }
    }
  }
}
